// colors
$primary: #f47b20;
$primary_light: rgb(254, 239, 223);
$secondary: rgb(13 153 255);
$light: rgb(255, 255, 255);
$dark: rgb(0, 0, 0);
$grey: #676f7c;
$dark_grey: #34383e;
$light_grey: #b3b9c3;
$shadow: rgb(151, 151, 151);
$off-white: rgb(242, 243, 245);
$blue: #679ab4;
$green: #469369;

// screen-sizes
$medium_screens: 1280px;
$small_screens: 991px;
$mobile_Screens: 768px;
