@import '../../styling/varibles.scss';

.member_card_container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr) 1rem;
    padding: 1.3rem 3rem;
    box-sizing: border-box;
    border: 1px solid $light_grey;
    border-radius: 4px;
    margin-block: 1rem;
    user-select: none;

    @media (max-width: $medium_screens) {
        padding: 1.5rem 2rem;
        grid-template-columns: 1fr 40px;
        grid-template-rows: repeat(3, 1fr) 0;
        gap: 1rem;
    }

    input[type='radio'] {
        height: 1.2rem;
        width: 1.2rem;
        margin: auto;
        appearance: none;
        -webkit-appearance: none;
        background-color: $light_grey;
        border-radius: 50%;

        &:checked {
            background-color: $light;
            border: 6px solid $primary;
        }
        @media (max-width: $medium_screens) {
            grid-area: 1 / 2 / 4 / 3; 
            margin-right: 0;
        }
    }
}

.card_item_container {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;

    div {
        margin-top: -4px;
    }

    p {
        color: $grey;
        margin: 0;

        &:first-child {
            font-size: 12px;
        }

        &:last-child {
            font-weight: bold;
        }
    }
}
